<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form name="uploadform" action="/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    <h2>Please Upload the CSV</h2>
      <input type="file" name="fname" accept=".csv">
      <input type="submit" value="send">
    </form> 

    <% if (result) { %>

    <h1> AVERAGE Result : <%= result.average %></h1>

    <% } %>
  </body>
<script>
  function validateForm() {
  var x = document.forms["uploadform"]["fname"].value;
  if (x == "") {
    alert("file must be choosen");
    return false;
  }
}
</script>
</html>